.transaction-history {
    width: 100%;
}

thead {
    background-color: #59b4ff;
    color: #ffffff;
}

tr {
    text-align: center;
    height: 40px;
}

tr:nth-child(2n) {
    background-color: #f1f1f1;
}