@import-normalize; /* bring in normalize.css styles */

body {
  font-family: sans-serif;
  line-height: 1.5;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

#root {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 80px;
  background-color: #f7f7f7;
  padding: 40px 0;
}
